

.container-back{
  /* background: red; */
  background:linear-gradient(#2a00b7,#42006c);
  height: 100vh;
  background-position: center; /* Center the background image */
  color: #ffffff; /* Set the text color to white or a contrasting color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover
}
.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 100px;
  background: #fff;
  padding-bottom: 30px;
  width: 600px;

}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.text {
  color: #3c009d;
  font-size: 48px;
  font-weight: 700;
}

.underline {
  width: 61px;
  height: 6px;
  background: #3c009d;
  border-radius: 9px;
}

.inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  background: #eaeaea;
  border-radius: 6px;

}

.input input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
  font-size: 19px
}

.submit-container {
  display: flex;
  gap: 30px;
  margin: 60px auto
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: #fff;
  background: #4c00b4;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700px;
  cursor: pointer;

}

.gray {
  background-color: #eaeaea;
  color: #676767;
}

/* Header.css */
.app-header {
  background-color: #333;
  color:  #3c009d;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  /* Set your desired background color */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  /* Optional: Add a shadow for a better visual effect */
  padding: 10px 20px;
  /* Adjust padding as needed */
  z-index: 1000;
}

.app-title {
  display: flex;
  /* Display the title and description in a flex container */
  align-items: center;
  /* Align items vertically within the title container */
}

.app-title h1 {
  margin: 0;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  font-style: italic;
}

.project-description {
  font-size: 0.8rem;
  margin-left: 1rem;
  /* Add space between the title and description */
}

.nav-menu {
  list-style: none;
  padding: 0;
  display: flex;
  margin-right: 20px;
}

.nav-menu li {
  margin: 0 1rem;
}

.nav-menu a {
  text-decoration: none;
  color:  #3c009d;
  font-weight: bold;
  font-size: 1rem;
}

/* Remove margin-left: auto; to keep the menu items on the same row */


.about-container {
  height: 100vh; /* Set the height of the landing page to the full viewport height */
  background-image: url('../asset/cover.jpg'); /* Replace with your image path */
  background-size: cover; /* Cover the entire container with the background image */
  background-position: center; /* Center the background image */
  color: #ffffff; /* Set the text color to white or a contrasting color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  
}

.about-container h2 {
  color: #333333;
}

.about-container p {
  font-size: 16px;
  line-height: 1.5;
  color: #555555;
}

.landing-page {
  height: 100vh; /* Set the height of the landing page to the full viewport height */
  background-image: url('../asset/cover.jpg'); /* Replace with your image path */
  background-size: cover; /* Cover the entire container with the background image */
  background-position: center; /* Center the background image */
  color: #ffffff; /* Set the text color to white or a contrasting color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.image-converter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  /* padding: 20px; */
  /* border: 2px solid #ccc; */

  max-width: 400px;
}

.converted-image {
  /* margin-top: 20px; */
}

